@model IEnumerable<OnlinePlayerVm>

@if (Model.Any())
{
    <ul class="list-group">
        @foreach (var player in @Model)
        {
            <li class="list-group-item">
                <form asp-controller="Invitations" asp-action="Invite" method="post"
                      class="form-inline" role="form">
                    <span class="small">
                        @($"{@player.Nickname} ({@player.Wins}:{@player.Loses})")
                    </span>
                    <input type="hidden" value="@player.Id" name="id" />
                    <input type="submit" class="btn btn-default btn-xs" value="Invite" />
                </form>
            </li>
        }
    </ul>
}
else
{
    @Html.Partial("_EmptyList")
}